@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.category{
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.interest{
    padding:  20px 6px;
    height: 35px;
    width: auto;
}
.ca-text{
    font-size: 25px;
}
.category-button{
    padding: 10px 11px;
    width: 110px;
    text-align:center;
    font-size: 20px;
    border: 1px solid #6189D7;
    margin: 0 9px;
    color: #7B3BCD;
    border-radius: 25px;
    text-decoration: none;
}
.category-button:hover{
    background: linear-gradient(to right, #6189D7, #7B3BCD);
    color: #fff;
    transition: .2s;
}
.active{
    background: linear-gradient(to right, #6189D7, #7B3BCD);
    color: #fff;
    transition: .2s;
}
.strands{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1100px;
    margin: auto;
}
.column{
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
.vidtitle{
    font-size: 19px;
    font-weight: 80;
}
.description{
    font-size: 15px;
}
.thumbnail{
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.main-content{
    margin: 30px 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto;
    gap: 20px;
}
.title-container{
    padding: 13px 25px;
}